/* ========== ABOUT US SECTION (Sebastian’s Task) ========= */
.header-nav {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-zero {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  
  }
  
  .menu-toggle {
    display: none;
  }
  
  .menu-icon {
    cursor: pointer;
    color: #fff;
    display: block;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  
  .nav-menu {
    display: none;
    background-color: #444;
    padding: 1rem;
    border-radius: 8px;
    top: 100%;
    right: 1rem;
    z-index: 10;
    position: absolute;
  }
  
  .nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-menu li {
    margin-bottom: 1rem;
  }
  
  .nav-menu li a {
    color: #000;
    text-decoration: none;
  }
  
  .menu-toggle:checked + .menu-icon + .nav-menu {
    display: block;
  }
  
  
  header nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: var(--bg);
    width: 111px;
    height: 35px;
    flex-shrink: 0;
    padding: 3px;
    background-color: #B6B6B6;
  }
  
  
  /* The background could be bigger */
  .hero {
    background: url("https://placehold.co/1200x600") no-repeat center center/cover;
    color: var(--bg);
  }
  /* Beginning of h2 */
  .story {
    padding: 2rem 1rem;
    text-align: center;
  }
  
  .story-header {
    margin-bottom: 1rem;
  }
  
  .story-image-container img {
     max-width: 100%;
     height: auto;
     margin: 1rem 0;
  }
  
  .story-text {
    text-align: center;
  }
  
  .story .story-header h2 {
    color: #000;
    font-size: 2rem;
  }
  
  .story-content {
    display: flex;
    flex-direction: column-reverse;
  }
  /* Beginning of the milestone section */
  
  .milestones {
    padding: 2rem 1rem;
    text-align: center;
    color: #000;
    font-weight: bold;
  }
  
  .timeline {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  /* This is the vertical stick */
  .timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background-color: #000;
    transform: translateX(-50%);
    z-index: 0;
  }
  
  .milestone {
    position: relative;
    display: flex;
    align-items: center;
    margin: 3rem 0;
    width: 100%;
    z-index: 1;
  }
  
  .milestone::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background-color: #666;
    border-radius: 50%;
    z-index: 2;
  }
  
  .milestone::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 2px;
    width: 50%;
    z-index: 1;
    transform: translateY(-50%);
    background-color: #000;
    
  }
  
  /* Image styling */
  .milestone-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    
  }
  
  /* Content of title and year */
  .milestone-content {
    padding: 1rem;
    border-radius: 8px;
    max-width: 250px;
  }
  
  /* Images being placed in their respected spots. Both 1 and 3 are on the left side.*/ 
  .milestone:nth-child(1),
  .milestone:nth-child(3) {
    align-self: flex-start;
    text-align: left;
  }
  /* Image on the right side */
  .milestone:nth-child(2) {
    flex-direction: row;
    justify-content: flex-end;
  }
  
  /* Beginning of newsletter styles */
  .newsletter {
    text-align: center;
    padding: 2rem 1rem;
    background-color: #F2F2F2;
    font-weight: bold;
    font-size: 1rem;
  }
  .newsletter form {
    margin-top: 1rem;
  }
  .newsletter label {
    display: block;
    margin-bottom: 0.5rem;
    color: #000;
  }
  #email {
    padding: 0.5rem;
    width: 250px;
    border: 1px solid;
    border-radius: 4px;
    margin-right: 0.5rem;
  }
  button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    /* The button in the figma file is black and it blends in with the body background color. I chose a light gray for now. */
    background-color: lightgray;
    color: var(--bg);
  }
  
  /* beginning styles of footer */
  .footer {
    padding: 2rem;
    background-color: #666;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .footer-links {
    display: flex;
    gap: 4rem;
  }
  
  .link-column {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .link-column a {
    color: var(--accent);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .link-column a:hover {
    text-decoration: underline;
  }
  
  .footer-social-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  
  .footer-social {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 1rem;
  }
  
  .footer-social svg {
    width: 35px;
    height: 35px;
    transition: fill 0.3s ease;
    color: #fff;
  }

  /* ========== Tablet ========== */
/* ========= ABOUT US TABLET MEDIA QUERY ====== */
/* Look at mobile styles for the about section I need to recode the about us section. */
@media screen and (min-width: 768px) {

    /* Styles for the header */
    .header-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      z-index: 100;
      position: relative;
    }
  
    /* Styles for the navigation */
    /* Note: I had to use transparent background color as the navigation links had a background color of the dropdown menu from the hamburger menu from the mobile screen. This is a temporary fix. */
  
    nav {
      margin: 0;
    }
  
    nav ul {
      display: flex;
      gap: 2rem;
      list-style: none;
      margin: 0;
      padding: 0;
      align-items: center;
      
    }
    .nav-menu {
      display: flex !important;
      position: static;
      flex-direction: row;
      gap: 2rem;
      background-color: transparent;
  
    }
  
    .nav-menu ul {
      display: flex;
      gap: 2rem;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    .menu-icon {
      display: none;
  
    }
  
    .menu-toggle {
      display: none;
    }
  
  
    /* Styles for "Our Story" section */
    .story {
      padding: 3rem 1rem;
      text-align: center;
  
    }
  
    .story-header {
      text-align: center;
      margin-bottom: 2rem;
  
    }
  
    .story-header h2 {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  
    .intro {
      margin: 0 auto;
      line-height: 1.6;
      font-size: 1.5rem;
    }
  
    .story-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      gap: 4rem;
    }
  
    .story-text {
      grid-column: 1;
      max-width: none;
      
  
    }
  
    .story-image-container {
      grid-column: 2;
      justify-self: center;
    }
    
    /* Styling for the milestone section */
  
    .milestones h2 {
      font-size: 2rem;
      font-weight: bold;
  
    }
     /* This section is for the horizontal stick thats suppose to connect to the circle placeholder images. This is as far as I have gotten but I can't seem to get it right. I can also copy and paste this code to the mobile phone section as well. */
    .milestone::before {
      content: "";
      position: absolute;
      top: 50%;
      height: 2px;
      width: 50%;
      z-index: 1;
      transform: translateY(-50%);
    }
  
    .milestone-content h3 {
      font-weight: bold;
      font-size: 1rem;
    }
    .milestone-image {
      object-fit: cover;
      width: 120px;
      height: 120px;
      border-radius: 50%;
    }
  
  
    /* Styling for the newsletter section */
    .newsletter h3 {
      font-size: 2rem;
    }
  
    /* Styling of footer for tablet */
    .footer {
      display: flex;
      justify-content: flex-end;
      padding: 2rem;
  
    }
  
    .footer-container {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      max-width: 768px;
      width: 100%;
      justify-content: flex-end;
    }
  
    .footer-links {
      display: flex;
      gap: 2rem;
    }
  
    .link-column {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    .link-column li a {
      text-decoration: none;
      font-size: 0.9rem;
    }
  
    .footer-social-wrapper {
      margin-top: auto;
      align-self: flex-start;
    }
  
    .footer-social {
      display: flex;
      gap: 1rem;
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    .footer-social li svg {
      width: 24px;
      height: 24px;
      fill: #fff;
    }
  }

  /* ========== Desktop ========== */
@media screen and (min-width: 1280px) {
    .story-text {
     margin-left: 2rem;
     
    }
 
    .milestones h2 {
     font-size: 2rem;
    }
 
    .footer-links {
      display: flex;
      gap: 4rem;
    }
 }
  