/* Shop Page */

* {
    box-sizing: border-box;
}

#products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1.5rem;
}

.shop-heading {
  font-weight: bold;
  margin: 1.5rem;
  font-size: 24px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  border-radius: 4px;
  box-shadow: none;
  background-color: white;
  padding: 1rem;
}

.card-img {
  height: auto;
  width: 100%;
}

.card-body {
    text-align: left;
}

.card-top {
  border-bottom: 1px solid black;
}

.card-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    font-weight: bold;
}

.card-btn {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  padding: .5rem;
  margin: 0;
}

.card-btn:hover {
  transition: .5s;
  background-color: black;
  color: white;
}

@media (max-width: 768px) {
    #products {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    #products {
      grid-template-columns: repeat(1, 1fr);
    }
}

/* Modal Styles */
#overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay-show {
  display:flex;
  align-items: center;
  justify-content: center;
}

.overlay-hide {
  display: none;
}

#close-modal {
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

.modal-card {
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 75vw;
}

.modal-card-top {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.modal-price {
    margin-bottom: 5rem;
    font-size: 18px;
    margin-top: none;
}

h3 {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
}

.modal-card-bottom {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}

.modal-card-btn {
    width: 100%;
    background-color: black;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    margin: 0;
    text-align: center;
}

.modal-card-img {
    width: 60%;
}

input {
    text-align: center;
}

@media (max-width: 600px) {
    .modal-card {
        flex-direction: column;
    }

    .modal-card-top {
        flex-direction: column;
    }

    .modal-product-detail {
        flex-direction: row;
    }

    p.modal-price {
        margin-bottom: 1rem;
    }

    .modal-card-img {
        width: 100%;
    }

    .modal-card-btn {
        width: 80%;
    }

    input {
        width: 20%;
    }
}

